<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<header th:fragment="header">
    <a th:href="@{/}"><img th:src="@{/img/Wood Finishing Tutorials.png}"/></a>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/Step/1}">Step 1</a></li>
            <li><a th:href="@{/Step/2}">Step 2</a></li>
            <li><a th:href="@{/Step/3}">Step 3</a></li>
            <li><a th:href="@{/redirect-me}">Redirect</a></li>
            <li><a th:href="@{/forward-me}">Forward</a></li>
        </ul>
    </nav>
</header>
</body>
</html>