<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wood Finishing Tutorials Step 3</title>
    <link rel="stylesheet" th:href="@{/style2.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<img class="left" th:src="@{/img/Apply-Clear-Protective-Coat.png}" alt="Apply clear protective coat">
<h2>Step 3: Add a Clear Protective Finish </h2>
<p>After staining, always top coat with a clear protective finish. It will protect the wood against water, household chemicals, food stains and everyday wear. Tip: To minimize brush marks and bubbles, "tip off" each section of your project before the finish dries. Hold the brush at a 45-degree angle and lightly run the bristles over the entire length of wood.</p>
<p>Content taken from <a href="https://www.minwax.com/how-to-finish-wood/three-easy-steps-to-a-beautiful-finish/">
    here.</a> Image taken from <a href="https://www.wikihow.com/Apply-Clear-Coat-on-Wood">here.</a></p>
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>