<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wood Finishing Tutorials Step 1</title>
    <link rel="stylesheet" th:href="@{/style2.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<img class="left" th:src="@{/img/Prep-Wood.png}" alt="Wood Preparation">
<h2>Step 1: Prepare the Wood</h2>
<p>Make sure the wood is ready to stain by first sanding it lightly in the direction of the grain with a medium grit sandpaper, followed by one with a fine grit. Tip: If the wood is soft or porous, then after sanding, use a pre-stain wood conditioner to prevent blotching. If you are using a water-based stain, be sure to use a pre-stain wood conditioner, regardless of wood species.</p>
<p>Content taken from <a href="https://www.minwax.com/how-to-finish-wood/three-easy-steps-to-a-beautiful-finish/">
    here.</a> Image taken from <a
            href="https://www.liberon.co.uk/help-advice/video-guides/wood-preparation-tutorial/">here.</a></p></p>
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>