<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wood Finishing Tutorials Step 2</title>
    <link rel="stylesheet" th:href="@{/style2.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<img class="left" th:src="@{/img/Apply-Stain.png}" alt="Select Stain">
<h2>Step 2: Select and Apply a Wood Stain</h2>
<p>Choosing a wood stain is a matter of personal preference and do-it-yourselfers have a variety of stains to choose from. Stains such as Minwax® Wood Finish™ feature traditional wood tones, while Water-Based Stains (which includes 50 custom colors) allow you to select a stain color that coordinates with your decor. Tip: Before staining, always test the selected stain on a hidden area of your piece, or on scrap wood that matches the wood species of your project.</p>
<p>Content taken from <a href="https://www.minwax.com/how-to-finish-wood/three-easy-steps-to-a-beautiful-finish/">here.</a>
Image taken from <a
            href="https://www.weatherwashcoatings.com/shop-online.html?store-page=WeatherWash-OAKED-Aging-Stain-p67435546">here.</a></p>
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>